
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Chewy|Fredericka+the+Great|Lemonada|Mouse+Memoirs&display=swap'); /*login*/

.teste{
    height: 90vh;
    position: relative;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;

    content: "after";
    background: url("../imagens/backgrouund_1.jpg");
    /* background: url("../imagens/backgroundPrincipal.jpg");
    background-repeat: initial !important; */
    background-size: auto 100%;
    /* background-color: rgb(255, 216, 48); */
    background-repeat: no-repeat;


}



.header{
    float: left;
}

.sugestao{
    /*background: url("../imagens/sugestaoBackground.jpg");*/
    /*background-size: 100%;*/
    /*height: 100vh;*/
    height: 100%;

}

.sugestaoContainer{
    background: url("../imagens/sugestaoBackground.jpg");
    background-size: auto 100%;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    height: 100vh;

}

.sugButton{
    width: 40%;
    background-color: palegreen;
    border: 0;
    color: black;

}

.sugInput{
    text-align: center;
    /*width: 50%;*/
    height: 60vh;
    /*     margin-top: 20%;    */
}

.sugButton:hover{
    transform:scale(1.05);
    transition-duration: 0.5s;
}

.sugText:hover{
    transform:scale(1.05);
    transition-duration: 0.5s;
}


.botao{
    position:absolute;
    top:40%;
    left:40%;
    width: 9.5%;
    cursor:pointer;
}

.botao2{
    position:absolute;
    top:40%;
    left:40%;
    font-size: 1.5em;
    background-image:url("../imagens/imagensBlocos/bloco12.png");
    background-repeat: no-repeat;
    height: 7%;
    width: 5%;
    background-color: transparent;
    background-size: auto 100%;
    border: none;
}

.botao3{
    position:absolute;
    top:30%;
    left:30%;
    font-size: 1.5em;
    /*    background-image:url("../imagens/imagensBlocos/bloco3.png");
        background-repeat: no-repeat;*/

    width: 100%;
    /*    background-color: transparent;
        background-size: auto 100%;*/
    border: none;
}

.botao:hover{
    transform:scale(1.2);
    transition-duration: 0.5s;
}

.image-container{
    cursor: grab;
    /*    height: 100%;*/
    height: 80%;
    display:inline-block;
    position:relative;
    overflow-x: auto;
    overflow-y:hidden;
    margin-top: 5%;

    -webkit-box-shadow: 1px 1px 69px #000;

}


.map{
    height: 101%;
    overflow: auto;
}

.mapaContent{

    height: 99.5%;
    /*    max-width: 100%;*/
    /*overflow: auto;*/
}



.textApr{
    margin-left: 3%;
    font-size: 1.5em;
}

.tituloApr{
    margin-left: 5%;
    font-size: 1.8em;
    font-family: "Fredericka the Great";
}

.conteudoApr{
    margin-top: 2%;
}

.descricaoApr{
    margin-top: 10%;
    font-size: 0.6em;
    font-family: "Fredericka the Great";

}

.subTituloApr{
    font-size: 0.5em;
    color: #E4A92D;
    font-family: "Chewy";
}



.space{
    height: 30vh;
}




body, td, th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.teste{
    font-size: 52px;
}

body {
    margin: 0px;
}

.aprContainer{
    font-size: 52px;
}



/*ESTILO DO FOOTER*/

.footerContent{
    /*    position: fixed;*/

}

.footerh{
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    /* margin-bottom: 0px;
    margin-top: 5px; */
    width: 100%;
    height: 50px;
    margin: auto;
    bottom: 0;
    padding-top: 15px;

}

.textFooter{

}

html, body {
    height:100%;
}

.margin{
    margin-bottom: 0px;
}

/*ESTILO DO HEADER*/

.headerContent{
    
    height: 70px;
    font-size: 0.7em;
    /* font-family: 'Shadows Into Light', cursive; */
    background-image:url("../imagens/fundo3.jpg") !important;
    background-size:25%;
    background-repeat: repeat-x;
    background-position: center; 
}

.divConstrast{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 0px;
}


.headerrh{
    /* color: #DAA520;
    background-color: #000000; */
    /*    margin-bottom: 20px;*/
    margin-top: 0px;
    text-align: center;
    color: #fecc01;;
    padding-top: 18px;
    font-family: "Fredericka the Great";
    font-size: 2.1em;
}

.headerrh:hover{
    transform:scale(1.08);
    transition-duration: 0.5s;
}

.subNameMapa{
    display: inline;
    font-family: "Fredericka the Great";
    color: white;
}

.aprBackground{
    background-color: #0881CA;
    min-height: 100vh;
    color: white
}

.descritivos{
    margin: 2px;
    margin-left: 20px;
    font-family: Fredericka the Great;
    font-size: 0.7em;
    
}

.titDescritivos{
    display: inline;
    margin: 0;
    color:#E4A92D;
}

.logoHeader{
    float: left;
    margin-left: 50px;
    margin-top: 5px;
}



/* estilização dos caixas de dialogo*/
.ui-dialog .ui-dialog-titlebar{
    background: #5aa8fb;
    
    text-align: center !important;
    color: rgba(255, 255, 255, 1);
}

.ui-dialog-title{
    text-align: center !important;
    float: none !important;
    font-size: 0.5em;
    font-family: "Lemonada";
}

.depButton{
    margin-top: 1%;
    margin-bottom: 1%;
    color: #9b9801;
    color: white;
    font-size: 0.2em;
    cursor: pointer;
    padding: 3%;
    width: 70%;
    background-color: #5aa8fb;
    border: none;
    border-radius: 25px;
    font-size: 0.4em !important;
}

.depButton:hover{
    transform:scale(1.1);
    transition-duration: 0.5s;
    font-size: 0.2em;
}

.ui-icon ui-icon-closethick{
    width: 3%;
}


