body, td, th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 52px;
}

.teste{
    height: 90vh;
    position: relative;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
}

.header{
    float: left;
}

.botao{
    position:absolute;
    top:40%;
    left:40%;
    width: 9.5%;
    cursor:pointer;
}

.botao2{
    position:absolute;
    top:40%;
    left:40%;
    font-size: 1.5em;
    background-image:url("../imagens/imagensBlocos/bloco12.png");
    background-repeat: no-repeat;
    height: 7%;
    width: 5%;
    background-color: transparent;
    background-size: auto 100%;
    border: none;
}

.botao3{
    position:absolute;
    top:30%;
    left:30%;
    font-size: 1.5em;
    /*    background-image:url("../imagens/imagensBlocos/bloco3.png");
        background-repeat: no-repeat;*/

    width: 100%;
    /*    background-color: transparent;
        background-size: auto 100%;*/
    border: none;
}

.botao:hover{
    transform:scale(1.2);
    transition-duration: 0.5s;
}

.image-container{
    cursor: grab;
    height: 100%;
    display:inline-block;
    position:relative;
    overflow-x: auto;
    overflow-y:hidden;
}


.map{
    height: 99%;
    overflow: auto;
}

.memama{

    height: 99.5%;
    /*    max-width: 100%;*/
    /*overflow: auto;*/
}

.depButton{
    margin-top: 1%;
    margin-bottom: 1%;
    color: #9b9801;
    font-size: 0.2em;
    cursor: pointer;
    padding: 5%;
    width: 70%;
    background-color: #fffd96;
     border: none;
  border-radius: 25px;
}

.depButton:hover{
    transform:scale(1.1);
    transition-duration: 0.5s;
}

.textApr{
    color: red;
    margin-left: 3%;
}

.tituloApr{
    margin-left: 5%;
    color: blue;
    font-size: 2em;
}

.conteudoApr{
    margin-top: 2%;
}

.descricaoApr{
    margin-top: 10%;
    font-size: 0.6em;
}

.subTituloApr{
    font-size: 0.4em;
}

