
.teste{
    color: blue;
}

 /*ESTILO DO FOOTER*/

.footerh{
     color: #FFFFFF;
     background-color: #000000;
     text-align: center;
     margin-bottom: 0px;
     margin-top: 5px;
}

.margin{
    margin-bottom: 0px;
}

/*ESTILO DO HEADER*/

.headerrh{
     color: #DAA520;
     background-color: #000000;
     margin-bottom: 20px;
     margin-top: 0px;
     text-align: center;
}

/*ESTILO DO MENU*/

